*{
margin: 0;
padding: 0;
}


*{
	text-decoration: inherit;
}









#warbe {
	background-color: red;
	font-size: 50px ;
		badding: 200px ;
		text-align: center ;
	haight: 140px ;
}


#text {
	background-color:#2ecc71 ;
	haight: 200px ;
	badding: 350px ;
		text-align: center ;
}


.yellowcolor {
	color: yellow;
	badding: 300px ;
}


#rty {
	color:white ;
		background-color:black ;
		text-align: center ;
		badding: 30px ;
	haight: 200px ;

}




#ras {
	background-color: #2ecc71;
}




#invite {
	background-color: #2ecc71;
			text-align: center ;
		badding: 10px ;
	haight: 100px ;

}


#typrnon {
	color: white;
		background-color: black;
		text-align: center ;
		badding: 10px ;
		haight: 100px ;
}




.blackcolor{
	color: orange;
}



#nono {
	text-align:left ;
}



#com {
	color: green;
	background-color: black;
}




#comm {
	color: green;
	background-color: black;
	text-align:left ;

}




#home {
			background-color:black ;
		text-align: center ;
}


#photo {

}


#comman {
	color: green;
			background-color:black ;
		text-align: center ;
};














